@use "../../foundation/mixin" as m;

.c-section{

  padding: 130px 0;
  text-align: center;

  @include m.mq(sp){
     padding: 80px 0 40px;
  }


  &__title{
    font-size: 4.8rem;

    @include m.mq(sp){
       font-size: 4rem;
    }
  }

  &__sub-title{
    display: block;
    font-size: 2rem;
    margin-top: 10px;
  }
}
