@use "./../../foundation/variable" as v;
@use "../../foundation/mixin" as m;



.p-price{


background-color: v.$color-pink;




&__content{

  margin-top: 100px;
  p{
    font-size: 3.2rem;
    margin-bottom: 90px;

    @include m.mq(sp){

      font-size: 2.2rem;
    }
  }
}

}